h1 {
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 35px;
    color: rgb(209, 32, 100);
}
p {
    text-align: center;
    font-family: 'Baloo Chettan 2', cursive;
    font-size: xx-large;
}
.score {
    color: royalblue;
}
.card {
    height: 135px;
    width: 115px;
}
#table {
    margin-left: auto;
    margin-right: auto;
}
tr td {
    object-fit: cover;
    padding: 7px;
}
.play-btn::after {
    content: "\f04b";
    font-family: "FontAwesome";
    color: #15aabf;
    transition: color .2s;
}
.reset-btn::after {
    content: "\f01e";
    font-family: "FontAwesome";
    color: #15aabf;
    transition: color .2s;
}
.play-btn:hover::after {
    color: aqua;
}
.reset-btn:hover::after {
    color: aqua;
}